:root {
  --light-gray: rgb(240, 240, 240);
  --dark-gray: rgb(96, 96, 96);
  --yt-red: rgb(214, 29, 29);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial; /* INHERITED BY CHILD ELEMENTS */
  background-color: rgb(250, 250, 250);
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 30px;
}