.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
  row-gap: 40px;
}
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  } 
}
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  } 
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

.video-preview {
  cursor: pointer;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.thumbnail {
  width: 100%;
}
.video-time {
  font-size: 14px;
  font-weight: 500px;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 4px 6px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture,
.video-info {
  vertical-align: top;
}
.channel-picture-container img {
  width: 75%;
  border-radius: 100%;
}
.channel-picture-container {
  position: relative;
  display: inline-block;
}
.channel-picture-container:hover .channel-tooltip {
  opacity: 1;
}
.channel-tooltip {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  position: absolute;
  left: 2px;
  width: auto;
  height: 50px;
  padding: 10px 25px 10px 10px; /* U, R, D, L */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  pointer-events: none;
  opacity: 0;
  transition-duration: 150ms;
}
.channel-tooltip img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 100%;
}
.channel-tooltip-name {
  font-weight: bold;  
  white-space: nowrap;
}
.channel-tooltip-subs {
  color:var(--dark-gray);
  white-space: nowrap;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: var(--dark-gray);
}
.video-author {
  margin-bottom: 2px;
}
