body {
  padding: 30px;
}

.div-container {
  background-color: bisque;
  border: 1px solid black;
  height: 70px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.div-container div {
  border: 2px solid black;
  width: 100px;
}

.div-container-2 {
  background-color: bisque;
  border: 1px solid black;
  height: 70px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
}
.div-container-2 div {
  border: 2px solid black;
  width: 100px;
}

#div1,
#div4 {
  background-color: lightblue;
}
#div2,
#div5 {
  background-color: lightcoral;
}
#div3,
#div6 {
  background-color: lightgreen;
}
