/*
#fr: take up remaining space in grid 
  # = ratio of remaining space
*/

.div-container {
  background-color: bisque;
  border: 1px solid black;
  display: grid;
  /* 3 COLUMNS, EQUAL LENGTH */
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  padding: 15px;
  margin-top: 30px;
}

.div-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 2px solid black;
}

#div1,
#div4 {
  background-color: lightblue;
}
#div2,
#div5 {
  background-color: lightcoral;
}
#div3,
#div6 {
  background-color: lightgreen;
}
