* {
  margin: 10px;
}

/** TEXT CONTAINER **/
.text-container p {
  font-family: Roboto, Arial;
  width: 350px;
}

.video-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 15px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-author {
  font-size: 15px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-description {
  font-size: 15px;
  color: rgb(96, 96, 96);
  line-height: 22px;
  margin-top: 0;
}

.tweet-container {
  font-family: Arial;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tweet-author {
  font-size: 20px;
  margin: 0;
}
.tweet-name {
  font-weight: bold;
  margin-right: 2px;
}
.tweet-username,
.tweet-time {
  font-size: 18px;
  color: rgb(96, 96, 96);
  margin: 0;
}
.tweet-username {
  margin-left: 2px;
  margin-right: 10px;
}
.tweet-post {
  font-size: 20px;
  width: 420px;
}
.tweet-post span {
  color: rgb(32, 112, 251);
  margin: auto;
  line-height: 35px;
}
/** END TEXT CONTAINER **/

/** BUTTON CONTAINER **/
.button-container button {
  font-size: 25px;
}
.uber-btn {
  color: white;
  background-color: black;
  width: 220px;
  height: 60px;
  border: 1px solid black;
  cursor: pointer;
  transition: box-shadow 150ms, opacity 150ms;
}
.uber-btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}
.uber-btn:active {
  color: black;
  background-color: white;
  opacity: 1;
}

.amazon-btn {
  color: black;
  background-color: rgb(255, 216, 20);
  width: 280px;
  height: 56px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  transition: 150ms;
}
.amazon-btn:hover {
  background-color: rgb(242, 205, 22);
}
.amazon-btn:active {
  opacity: 0.5;
}

.github-btn {
  color: white;
  background-color: rgb(46, 164, 79);
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 150ms;
}
.github-btn:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.github-btn:active {
  margin-top: 15px;
  margin-left: 15px;
}

.bootstrap-start-btn {
  color: white;
  background-color: rgb(121, 82, 179);
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 150ms;
}
.bootstrap-start-btn:hover {
  background-color: rgb(102, 69, 152);
}
.bootstrap-start-btn:active {
  opacity: 0.5;
}

.bootstrap-download-btn {
  color: rgb(108, 117, 125);
  background-color: white;
  width: 180px;
  height: 60px;
  border: 1px solid rgb(108, 117, 125);
  border-radius: 8px;
  cursor: pointer;
  transition: 150ms;
}
.bootstrap-download-btn:hover {
  color: white;
  background-color: rgb(108, 117, 125);
}
.bootstrap-download-btn:active {
  opacity: 0.5;
}

.padding-demo {
  color: white;
  background-color: rgb(46, 164, 79);
  border: none;
  width: 100px auto;
  height: 50px;
  padding: 8px 15px;
  cursor: pointer;
  transition: 200ms;
}
.padding-demo:hover {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0;
  margin-right: 0;
}
/** END BUTTON CONTAINER **/
